{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/admin_notification.css' %}">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-secondary">
    <a class="navbar-brand" href="{% url 'admin_home' %}"><img src="{% static 'images/main_logo.png' %}" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_home' %}"><span class="fa fa-home"></span> Home</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-eye"></span> 
            View
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'admin_table' %}">Admin Details</a>
            <a class="dropdown-item" href="{% url 'user_table' %}">User Details</a>
            <a class="dropdown-item" href="{% url 'librarian_table' %}">Librarian Details</a>
            <a class="dropdown-item" href="{% url 'book_table' %}">Book Details</a>
            <a class="dropdown-item" href="{% url 'buyer_table' %}">Buyer Details</a>
            <a class="dropdown-item" href="{% url 'return_table' %}">Return Details</a>
            <a class="dropdown-item" href="{% url 'message' %}">Send Message</a>
            <a class="dropdown-item" href="{% url 'message_table' %}">Message Details</a>
            <a class="dropdown-item" href="">Contact Details</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'admin_notification' %}"><span class="fa fa-bell"></span> Notifications</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-warning my-2 my-sm-0" href="{% url 'admin_logout' %}"> Logout <span class="fa fa-arrow-right"></span></a>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

        {% for i in message %}

        <div class="col-xs-1 col-lg-1"></div>

        <div class="col-xs-10 col-lg-10">
            <div class="notification">
                <img src="{% static 'images/notification.png' %}" class="icon">
                <h6>{{i.message}}</h6>
            </div>
        </div>

        <div class="col-xs-1 col-lg-1"></div>

        {% endfor %}

    </div>
  </div>

      
  <div class="container-fluid" id="footer">
    <div class="row">
      <div class="col-xs-4 col-lg-4">
        <h5 class="heading">About Us</h5>
        <p class="description"> Librasys is a library management system that simplify all the process in a library. You can manage registration to buying books and return books using Librasys.</p>
        <a href=""><span class="fa fa-facebook"></span></a>
        <a href=""><span class="fa fa-twitter"></span></a>
        <a href=""><span class="fa fa-linkedin"></span></a>
        <a href=""><span class="fa fa-instagram"></span></a>
      </div>
  
      <div class="col-xs-4 col-lg-4">
        <h5 class="heading">Company</h5>
        <a href="" class="btn btn-link" id="link">About Us</a>
        <a href="" class="btn btn-link" id="link">Contact Us</a>
      </div>

      <div class="col-xs-4 col-lg-4">
        <h5 class="heading">Contact</h5>
        <span class="fa fa-headphones"></span> <label class="contact-details">+918848193954</label><br>
        <span class="fa fa-envelope"></span> <label class="contact-details">+918848193954</label><br>
        <span class="fa fa-location-arrow"></span> <label class="contact-details">Librasys</label>
      </div>
    </div>
  </div>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>