{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-secondary">
    <a class="navbar-brand" href="{% url 'admin_home' %}"><img src="{% static 'images/main_logo.png' %}" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'admin_home' %}"><span class="fa fa-home"></span> Home</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-eye"></span> 
            View
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'admin_table' %}">Admin Details</a>
            <a class="dropdown-item" href="{% url 'user_table' %}">User Details</a>
            <a class="dropdown-item" href="{% url 'librarian_table' %}">Librarian Details</a>
            <a class="dropdown-item" href="{% url 'book_table' %}">Book Details</a>
            <a class="dropdown-item" href="{% url 'buyer_table' %}">Buyer Details</a>
            <a class="dropdown-item" href="{% url 'return_table' %}">Return Details</a>
            <a class="dropdown-item" href="{% url 'message' %}">Send Message</a>
            <a class="dropdown-item" href="{% url 'message_table' %}">Message Details</a>
            <a class="dropdown-item" href="{% url 'contact_table' %}">Contact Details</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_notification' %}"><span class="fa fa-bell"></span> Notifications</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-warning my-2 my-sm-0" href="{% url 'admin_logout' %}"> Logout <span class="fa fa-arrow-right"></span></a>
      </form>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container1">
            <img src="{% static 'images/admin.png' %}" class="grid-icon">
            <h5 class="grid-title">Admin Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'admin_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container3">
            <img src="{% static 'images/user.png' %}" class="grid-icon">
            <h5 class="grid-title">User Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'user_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container4">
            <img src="{% static 'images/librarian.png' %}" class="grid-icon">
            <h5 class="grid-title">Librarian Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'librarian_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container5">
            <img src="{% static 'images/books.png' %}" class="grid-icon">
            <h5 class="grid-title">Book Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'book_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container6">
            <img src="{% static 'images/buyer.jpg' %}" class="grid-icon">
            <h5 class="grid-title">Buyer Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'buyer_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container7">
            <img src="{% static 'images/return.png' %}" class="grid-icon">
            <h5 class="grid-title">Return Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'return_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container8">
            <img src="{% static 'images/message.png' %}" class="grid-icon" style="width: 80px !important; padding-top: 30px !important; padding-bottom: 30px !important;">
            <h5 class="grid-title">Send Message</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'message' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container10">
            <img src="{% static 'images/message.png' %}" class="grid-icon" style="width: 80px !important; padding-top: 30px !important; padding-bottom: 30px !important;">
            <h5 class="grid-title">Message Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'message_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3">
        <div class="grid">
          <div class="grid-container9">
            <img src="{% static 'images/contact.png' %}" class="grid-icon">
            <h5 class="grid-title">Contact Details</h5>
          </div>
          <div class="grid-container2">
            <a href="{% url 'contact_table' %}" class="btn btn-link">Click Here <span class="fa fa-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-lg-3"></div>

      <div class="col-xs-3 col-lg-3"></div>

    </div>
  </div>
      
  <div class="container-fluid" id="footer">
    <div class="row">
      <div class="col-xs-4 col-lg-4">
        <h5 class="heading">About Us</h5>
        <p class="description"> Librasys is a library management system that simplify all the process in a library. You can manage registration to buying books and return books using Librasys.</p>
        <a href=""><span class="fa fa-facebook"></span></a>
        <a href=""><span class="fa fa-twitter"></span></a>
        <a href=""><span class="fa fa-linkedin"></span></a>
        <a href=""><span class="fa fa-instagram"></span></a>
      </div>
  
      <div class="col-xs-4 col-lg-4">
        <h5 class="heading">Company</h5>
        <a href="" class="btn btn-link" id="link">About Us</a>
        <a href="" class="btn btn-link" id="link">Contact Us</a>
      </div>

      <div class="col-xs-4 col-lg-4">
        <h5 class="heading">Contact</h5>
        <span class="fa fa-headphones"></span> <label class="contact-details">+918848193954</label><br>
        <span class="fa fa-envelope"></span> <label class="contact-details">+918848193954</label><br>
        <span class="fa fa-location-arrow"></span> <label class="contact-details">Librasys</label>
      </div>
    </div>
  </div>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>