{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraSys Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/librarian_signup.css' %}">
     <script src="{% static 'javascript/librarian_signup_validation.js' %}"></script>   

    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-lg-3"></div>
            <div class="col-xs-6 col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <h1>Registration</h1>
                    <hr>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputFirstName4">First Name</label>
                            <input type="text" class="form-control" name="fname" id="firstname" placeholder="First Name" value="{{update.firstname}}">
                        </div>
                        
                        <label id="firstname_error"></label>

                        <div class="form-group">
                            <label for="inputLastName4">Last Name</label>
                            <input type="text" class="form-control" name="lname" id="lastname" placeholder="Last Name" value="{{update.lastname}}">
                        </div>

                        <label id="lastname_error"></label>

                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputName">Library Name</label>
                            <input type="text" class="form-control" name="library_name" id="library_name" placeholder="Library Name" value="{{update.library_name}}">
                        </div>

                        <label id="libraryname_error"></label>
    
                        <div class="form-group">
                            <label for="inputLocation">Library Location</label>
                            <input type="text" class="form-control" name="library_location" id="library_location" placeholder="Library Location" value="{{update.library_location}}">
                        </div>

                        <label id="librarylocation_error"></label>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" value="{{update.email}}">
                        </div>

                        <label id="email_error"></label>
    
                        <div class="form-group">
                            <label for="inputUsername">Phone Number</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="{{update.phone}}">
                        </div>

                        <label id="phone_error"></label>

                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" onkeyup="return pass()" value="{{update.password}}">
                        </div>

                        <label id="password_error"></label>
    
                        <div class="form-group">
                            <label for="inputConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm Password" onkeyup="return cpass()" value="{{update.cpassword}}">
                        </div>

                        <label id="cpassword_error"></label>

                    </div>

                    
                    <input type="checkbox" name="" id="" value="yes" checked> <label>By Click This Check Box, You agree to our <a href="">Privacy Policy</a> and <a href="">Cookies Policy</a></label><br> 
                    
                    <button type="submit" class="btn btn-success" onclick="return validation()">Sign Up</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </form>
            </div>
            <div class="col-xs-3 col-lg-3"></div>
        </div>
    </div>


   
    





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>